# Group Lab  4 

## Probability & Sampling Distributions from Lab Data

In [22]:
#Run this
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()



## 1. Categorical Question & Answers 



**a)** Report the categorical question that your lab or group elected to ask.

What is your favorite sport?

**b)** Report your group composition.  That is, what were the answers for the members of your group?

For our group, we have three members. Two of us chose our favorite sport as basketball and one of us as football.

**c)** Report your lab composition.  That is, what were the answers from all students in your lab section?

In [23]:
df_lab = pd.read_csv("207YIdata.csv")
df_lab

,Timestamp,What is your favorite sports?,How many siblings do you have?
0,2/8/2023 15:06:45,basketball,2
1,2/8/2023 15:06:50,badminton,4
2,2/8/2023 15:06:54,others,1
3,2/8/2023 15:06:58,basketball,2
4,2/8/2023 15:07:03,others,0
5,2/8/2023 15:07:04,others,1
6,2/8/2023 15:07:07,Hockey,1
7,2/8/2023 15:07:09,others,1
8,2/8/2023 15:07:23,others,1
9,2/8/2023 15:07:28,basketball,2
10,2/8/2023 15:07:33,badminton,1
11,2/8/2023 15:07:34,others,0
12,2/8/2023 15:07:36,badminton,1
13,2/8/2023 15:07:36,badminton,0
14,2/8/2023 15:07:38,badminton,2
15,2/8/2023 15:07:58,basketball,0
16,2/8/2023 15:08:10,basketball,1
17,2/8/2023 15:08:54,others,1
18,2/8/2023 15:08:57,others,1
19,2/8/2023 15:09:15,basketball,0
20,2/8/2023 15:09:45,football,2
21,2/8/2023 15:10:51,others,2
22,2/8/2023 15:11:03,basketball,0

In [24]:
df_lab["What is your favorite sports? "].value_counts()

others        9
basketball    7
badminton     5
football      1
Hockey        1
Name: What is your favorite sports? , dtype: int64

## 2. Team Probability

Suppose we were to randomly select $k$ students from your **lab** section **without replacement**, (where $k$ is the size of the group you are currently working in). The **order** in which we selected the $k$ students in this group **didn't matter**. Nor are there any specific "patterns" or "allocations" to any particular person in this group.

What is the probability that this randomly selected group has the same composition that your current team does?

* <u>Hint 1</u>: How many groups of size $k$ could you create from the total number of students in your lab?
* <u>Hint 2</u>: For each possible answer (value), how many groups could you create of the size that matches your group composition out of the number of options in your lab?

**Be sure to show your work and calculations.**

In [25]:
# total number of people in lab
n = df_lab.shape[0]
n

23

In [26]:
# number of people in our group
k = 3

In [30]:
# without replacement, order does not matter (total possible outcomes)
from math import factorial
count_total = factorial(n) / (factorial(k)*factorial(n-k))
count_total

1771.0

In [31]:
# possible outcomes with 2 basketball, one football
# 7 choose 2 (basketball) times 1 choose 1 (football)
count_group = factorial(7) / (factorial(2)*factorial(5))
count_group

21.0

In [32]:
prob = count_group / count_total
prob

0.011857707509881422

The probability that a randomly selected group has the same composition that our current team is about 1.186%

<hr>

## 3. Quantitative Question & Answers

In this question, we will again work with data generated in lab.  For this part, we will focus on the quantitative question.

**Note:** If you need to complete this assignment on your own, you may contact your lab instructor for data, or you may use the following information.  

- You will answer the question: "What is the value of a starting deal in BlackJack?"  You can calculate the starting value of a hand in BlackJack by randomly selecting two cards from a standard deck of cards.  Face cards (K, Q, J) count as 10 and Aces (A) count as 11.  All other cards count as the number printed on the card.  The only exception is if you have two Aces, your hand is worth 12 (11+1).
- Assume you are working in a group of 3 comprised of yourself, a student whose initial hand is 21, and another student whose initial hand is 16.
- You can access general class data for this question here: tinyurl.com/sp23stat207blackjack.  From the file menu, select File > Download as > csv, and move the resulting file to the same folder as this lab_04.ipynb file.

**a)** Report the quantitative question that your lab or group elected to ask.

How many siblings do you have?

**b)** Report the answers to this question for the members of your group.

For our group, we have 0, 2, and 2 siblings.

**c)** Read in the data that was collected from your lab for this question.

Follow the instructions of your lab instructor to access your lab data.  Once you download the file, be sure to move the resulting file to the same folder as this lab_04.ipynb document.

In [39]:
df_lab["How many siblings do you have?"].value_counts().sort_index()

0     6
1    10
2     6
4     1
Name: How many siblings do you have?, dtype: int64

## 4. Sampling Distribution & Team Probability 

**a)** Calculate the mean value for this quantitative variable for your group.

In [40]:
mean_group = (0+2+2)/3
mean_group

1.3333333333333333

**b)** Calculate the mean value for this quantitative variable for you lab section.

In [41]:
df_lab["How many siblings do you have?"].mean()

1.1304347826086956

**c)** Generate a sample (without replacement) of the same size as your group from the lab data.  Calculate the mean of this data.  Is this the same mean as your group?

In [48]:
df_sample314 = df_lab.sample(3, replace=False, random_state=314)
df_sample314

,Timestamp,What is your favorite sports?,How many siblings do you have?
17,2/8/2023 15:08:54,others,1
1,2/8/2023 15:06:50,badminton,4
12,2/8/2023 15:07:36,badminton,1

In [49]:
df_sample314["How many siblings do you have?"].mean()

2.0

The sample mean is higher than our group for the number of siblings.

**d)** Through simulation, generate a sampling distribution of the mean for this quantitative variable (for 1,000 groups of the same size as your group, all made up of students from your lab).  In other words, treat your lab's data as the population while creating the sampling distribution.

In [52]:
sample_mean = []
for i in range(1000):
    mean = df_lab.sample(3, replace=False)["How many siblings do you have?"].mean()
    sample_mean.append(mean)

d = {"Sample Mean": sample_mean}
df_sample_mean = pd.DataFrame(d)
df_sample_mean

     Sample Mean
0       2.333333
1       0.666667
2       1.666667
3       1.333333
4       1.000000
..           ...
995     1.333333
996     1.666667
997     1.666667
998     1.333333
999     2.666667

[1000 rows x 1 columns]

**e)** For this sampling distribution, answer the following questions:

- What is the mean of the sampling distribution?  How does this value compare to the values calculated in parts **a** and **b** above?
- How many means in this sampling distribution match your group's mean exactly?
- How many means in this sampling distribution are greater than or equal to your group's mean?

In [53]:
# mean of sampling distribution
df_sample_mean.mean()

Sample Mean    1.119667
dtype: float64

In [61]:
# number of means that match our group mean
df_sample_mean[df_sample_mean["Sample Mean"]==mean_group].count()[0]

230

In [62]:
# number of means greater than or equal to our group mean
df_sample_mean[df_sample_mean["Sample Mean"]>=mean_group].count()[0]

434

The mean of sampling distribution of 1000 observations has a lower value than both our group mean and the single sample mean.